<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">

    <title>Mavis</title>

</head>
<body>
    <header id="cabecalho">

        <h1><a href="#">Mavis</a></h1>

        <nav id="menu">
            <ul>
                <!-- <li><a href="#inicio">Início</a></li> -->
                <li><a href="#trabalhos">Trabalhos</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#contato">Contato</a></li>       
            </ul>
        </nav>
    </header>

    <div class="menu-spacing"></div>

    <section id="trabalhos">
            <h1 class="titulo-back-blue">Trabalhos</h1>
            <div id="container-img"></div>
    </section>

    <section id="sobre">
        <h1 class="titulo-back-pink">Sobre</h1>
        <div id="perfil">
            <div id="photo-perfil">
                <img src="./assets/img/mavis-perfil.png" alt="">
            </div>
            <div id="info-perfil">
                <p>Olá! Me chamo Mavis. Sou estudante de design gráfico no IFPB - Campus Cabedelo, 
                    entrei no curso no ano de 2019. Estagiei 
                    pela Antena Mídia comunicações, uma empresa de marketing, 
                    por 6 meses e atualmente trabalho como free-lancer. 
                    Meus focos são em ilustração e social media, 
                    entrando também em diagramação de livros. 
                    Sempre gostei de desenhar e participei de algumas oficinas 
                    e atividades no ensino médio envolvendo essa área, assim me apaixonando 
                    um pouco mais pela ilustração, foi assim que decidi 
                    qual curso escolher depois de terminar o ensino médio. 
                    Ao decorrer do curso e do estágio, acabei entrando no mundo dos 
                    Social Media e fazendo algumas ilustrações para algumas empresas.
                </p>

                <p>
                    Para ver meus outros trabalhos acesse: 
                    <a target="_blank" href="https://www.behance.net/vitoriamaria3/projects">https://www.behance.net/vitoriamaria3/projects</a>
                </p>
            </div>
        </div>

        <div id="rede-social">
            <div id="instagram">
                <a href="https://www.instagram.com/mavis_ilustra/" target="_blank">
                    <img src="./assets/img/instagram-icon.png" alt="" width="40" height="40">
                </a>
                <span>Instagram</span>
            </div>

            <div class="linkedin">
                <a href="https://www.linkedin.com/in/maria-vitoria-galberto-sales-054445195/" target="_blank">
                    <img src="./assets/img/linkedin-icon.png" alt="" width="40" height="40">
                </a>
                <span>Linkedin</span>
            </div>
        </div>
    </section>

    <section id="contato">
        <h1 class="titulo-back-blue">Contato <br>
            <span>Contate-me uma mensagem se quiser saber mais do meu trabalho, dar alguma sugestão ou me contratar.</span>
        </h1>

        <form class="form" action="/send-message" method="POST">
            <div>
                <!-- <label>Nome:</label> <br> -->
                <input type="text" name="name" placeholder="Nome">
            </div>
           
            <div>
                <!-- <label for="">Email:</label> <br> -->
                <input type="email" name="email" placeholder="Email">
            </div>
            <br>
            <div class="container-msg">
                <!-- <label>Mensagem:</label> <br> -->
                <textarea name="message" id="" cols="30" rows="10" class="msg" placeholder="Mensagem"></textarea>
            </div>

            <button type="submit" class="btn-send">Enviar</button>
        </form>
    </section>

    <script type="module" src="main.js"></script>
    <script src="https://kit.fontawesome.com/72f484ef59.js" crossorigin="anonymous"></script>
</body>
</html>