@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Comfortaa&family=Dancing+Script&family=Ephesis&family=IM+Fell+English+SC&family=Indie+Flower&family=Italianno&family=Lobster&family=Nunito&family=Pacifico&family=Satisfy&family=Slabo+27px&display=swap');

:root{
    --color-padrao: #00172b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background: var(--color-padrao);
    background-size: cover;
    background-attachment: fixed;
  }

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

section{
    min-height: 100vh;
    padding-top: 70px;
}

#cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    width: 100%;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    color: var(--color-padrao);
    border-bottom: 1px solid var(--color-padrao);
}

#cabecalho h1{
    margin-left: 15px;
    font-family: 'Comfortaa', cursive;
}

#cabecalho a{
    color: var(--color-padrao);
}

#menu{ 
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}   

#menu li{
    margin: 0 5px;
    position: relative;
    transition: all 300ms ease-in-out;
}

#menu li a{
    color: var(--color-padrao);
    padding: 5px 10px;
    border-radius: 7px;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
    transition: all 300ms ease-in-out;
}

#menu li a:hover{
    background-color: rgba(0, 0, 0, 0.053);
}

#menu li a::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0;
    height: 2px;
    background: rgb(0, 23, 43);; 
    transition: all 300ms ease-in-out;
}
  
#menu li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-spacing {
    height: 55px;
}

#container-img{
    margin-top: 12px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img{
    width: 275px;
    height: 275px;
    padding: 0px;
    margin: 10px;
    border: solid 10px white;
    border-radius: 5px;
    margin-bottom: 50px;
    background-position: center;
    transition: all 300ms ease-in-out;
}

.img:hover{
    transform: scale(1.2);
    cursor: pointer; 
}

.backModal{
    top: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.575);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    display: grid;
    grid-template-areas: 
    'image image info info button'
    'image image info info button';
    gap: 5px;
    justify-content: space-between;
    background-color: white;
    z-index: 2;
    width: 75%;
    height: 90%;
    border-radius: 7px;
    overflow: hidden;
}

.info{
    grid-area: info;
    margin-top: 10px;
    text-align: justify;
    font-size: 1.2rem;
    margin-left: 25px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.info::-webkit-scrollbar{
    display: none;
}

.info h1, h2{
    text-align: center;
    margin-bottom: 10px;
}

.info h2{
    font-size: 1.2rem;
}

.imgModal{
    grid-area: image;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imgModal-large-img{
    width: 500px;
    height: 100%;
}

.imgModal-small-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.btn-close{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.205);
    grid-area: button;
    font-size: 1.4rem;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 7px;
    margin-top: 7px;
    padding: 12px 0;
    border-radius: 5px;
    z-index: 2;
    cursor: pointer;
}

.btn-close i{
    transition: all 250ms ease-in-out;
    border-radius: 5px;
    padding: 4px 7px;
}

.btn-close i:hover{
    background-color: rgba(0, 0, 0, 0.053);

}

#sobre{
    background-color: pink;
    color: var(--color-padrao);
    padding-top: 70px;
    min-width: 100%;
}


#perfil{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    overflow: hidden;
}

#photo-perfil img{
    border: 5px solid var(--color-padrao);
    width: 250px;
    height: 300px;
    overflow: hidden;
}

#info-perfil{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-around;
}

#info-perfil p{
    text-align: justify;
    font-size: 1.4rem;
    font-family: 'Slabo 27px', serif;
}

#info-perfil a{
    color: var(--color-padrao);
    text-decoration: underline;
    transition: all 250ms ease-in-out;
}

#info-perfil a:hover{
    color: rgb(243, 235, 235);
    text-decoration: underline;
}

#rede-social{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#rede-social div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rede-social div span{
    font-family: 'Slabo 27px', serif;
}

.titulo-back-blue{
    margin-bottom: 50px;
    font-size: 2.2rem;
    font-family: 'Comfortaa', cursive;
    color: white;
    text-align: center;
}


.titulo-back-pink{
    margin-bottom: 50px;
    font-size: 2.2rem;
    font-family: 'Comfortaa', cursive;
    color: var(--color-padrao);
    text-align: center;
}

#contato span{
    font-size: 1rem;
    font-family: 'Comfortaa', cursive;
    color: white;
    text-align: center;
}


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.form div{
    margin-bottom: 20px;
}

.form div input{
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 7px;
    padding: 10px;
}

::-webkit-input-placeholder{
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
    color: rgba(0, 0, 0, 0.747);
}

.form .msg{
    width: 400px;
    height: 150px;
    border: none;
    border-radius: 7px;
    padding: 10px;
    resize: none;
}

.form .btn-send{
    border: none;
    border-radius: 7px;
    padding: 10px;
    background-color: white;
    color: var(--color-padrao);
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    font-weight: bold;
    transition: all 350ms ease-in-out;
}

.form .btn-send:hover{
    background-color: var(--color-padrao);
    border: solid 1px white;
    color: white;
    cursor: pointer;
}

.no-scroll{
    overflow: hidden;
}

#btn-menu{
    display: none;
}

/* .animation-btn-menu{
    animation-play-state: paused;
}

.animation-btn-menu-close{
    animation-play-state: paused;
} */

.animation-menu-open{
    display: none;
}